#contextMenu{width: 200px;height: 300px;display: none;cursor: pointer;
			position: absolute;left: 800px;top: 200px;border-radius:5px;
			list-style-type: none;padding: 20px;background:rgba(0,0,0,0.8);}
#contextMenu li{margin-bottom: 20px;color:white;}
#contextMenu li span{margin-left: 40px;}		
#report{width:300px;height: 20px;position: absolute;line-height: 20px;display: none;
		left:100px;top: 100px;color:red;font-size: 14px;text-align: center;}
